.heading {
    text-align: left;
    color: #737f8c;
    font: bold;
    margin-left: 0px;
    padding: 2px;
}

.white-box {
    margin-left: 100px;
    height: 400px;
    width: 1100px;
}

label {
    text-align: left;
    color: #737f8c;
}